<app-carosel [images]="images" 
[autoSlide]="true">
</app-carosel>

 <hr>
<div class="card-home">
  <h4>Ofertas Do dia</h4>
  <mat-card class="example-card">
    <img
      mat-card-image
      src="https://planetwear.com.br/cdn/shop/products/pic_20200401_113507-c6c64e0e14db70788f15857517322044-1024-1024_969d9940-2d6e-4868-ba5b-7d26e579c3da_600x.jpg?v=1603425602"
      alt="Photo of a Shiba Inu"
    />
    <div class="produto-info">
      <h6>Tenis AirForce</h6>
      <p class="descont">Em ate 3x de 60R$ sem juros</p>
      <p class="money"><s> R$ 200 </s></p>
      <p class="valo-produto">R$ 180</p>
    </div>
  </mat-card>

  <mat-card class="example-card">
    <img
      mat-card-image
      src="https://planetwear.com.br/cdn/shop/products/pic_20200401_113507-c6c64e0e14db70788f15857517322044-1024-1024_969d9940-2d6e-4868-ba5b-7d26e579c3da_600x.jpg?v=1603425602"
      alt="Photo of a Shiba Inu"
    />
    <div class="produto-info">
      <h6>Tenis AirForce</h6>
      <p class="descont">Em ate 3x de 60R$ sem juros</p>
      <p class="money"><s> R$ 200 </s></p>
      <p class="valo-produto">R$ 180</p>
    </div>
  </mat-card>

  <mat-card class="example-card">
    <img
      mat-card-image
      src="https://planetwear.com.br/cdn/shop/products/pic_20200401_113507-c6c64e0e14db70788f15857517322044-1024-1024_969d9940-2d6e-4868-ba5b-7d26e579c3da_600x.jpg?v=1603425602"
      alt="Photo of a Shiba Inu"
    />
    <div class="produto-info">
      <h6>Tenis AirForce</h6>
      <p class="descont">Em ate 3x de 60R$ sem juros</p>
      <p class="money"><s> R$ 200 </s></p>
      <p class="valo-produto">R$ 180</p>
    </div>
  </mat-card>

  <mat-card class="example-card">
    <img
      mat-card-image
      src="https://planetwear.com.br/cdn/shop/products/pic_20200401_113507-c6c64e0e14db70788f15857517322044-1024-1024_969d9940-2d6e-4868-ba5b-7d26e579c3da_600x.jpg?v=1603425602"
      alt="Photo of a Shiba Inu"
    />
    <div class="produto-info">
      <h6>Tenis AirForce</h6>
      <p class="descont">Em ate 3x de 60R$ sem juros</p>
      <p class="money"><s> R$ 200 </s></p>
      <p class="valo-produto">R$ 180</p>
    </div>
  </mat-card>


  <mat-card class="example-card">
    <img
      mat-card-image
      src="https://planetwear.com.br/cdn/shop/products/pic_20200401_113507-c6c64e0e14db70788f15857517322044-1024-1024_969d9940-2d6e-4868-ba5b-7d26e579c3da_600x.jpg?v=1603425602"
      alt="Photo of a Shiba Inu"
    />
    <div class="produto-info">
      <h6>Tenis AirForce</h6>
      <p class="descont">Em ate 3x de 60R$ sem juros</p>
      <p class="money"><s> R$ 200 </s></p>
      <p class="valo-produto">R$ 180</p>
    </div>
  </mat-card>

  <mat-card class="example-card">
    <img
      mat-card-image
      src="https://planetwear.com.br/cdn/shop/products/pic_20200401_113507-c6c64e0e14db70788f15857517322044-1024-1024_969d9940-2d6e-4868-ba5b-7d26e579c3da_600x.jpg?v=1603425602"
      alt="Photo of a Shiba Inu"
    />
    <div class="produto-info">
      <h6>Tenis AirForce</h6>
      <p class="descont">Em ate 3x de 60R$ sem juros</p>
      <p class="money"><s> R$ 200 </s></p>
      <p class="valo-produto">R$ 180</p>
    </div>
  </mat-card>

  <mat-card class="example-card">
    <img
      mat-card-image
      src="https://planetwear.com.br/cdn/shop/products/pic_20200401_113507-c6c64e0e14db70788f15857517322044-1024-1024_969d9940-2d6e-4868-ba5b-7d26e579c3da_600x.jpg?v=1603425602"
      alt="Photo of a Shiba Inu"
    />
    <div class="produto-info">
      <h6>Tenis AirForce</h6>
      <p class="descont">Em ate 3x de 60R$ sem juros</p>
      <p class="money"><s> R$ 200 </s></p>
      <p class="valo-produto">R$ 180</p>
    </div>
  </mat-card>


  <mat-card class="example-card">
    <img
      mat-card-image
      src="https://planetwear.com.br/cdn/shop/products/pic_20200401_113507-c6c64e0e14db70788f15857517322044-1024-1024_969d9940-2d6e-4868-ba5b-7d26e579c3da_600x.jpg?v=1603425602"
      alt="Photo of a Shiba Inu"
    />
    <div class="produto-info">
      <h6>Tenis AirForce</h6>
      <p class="descont">Em ate 3x de 60R$ sem juros</p>
      <p class="money"><s> R$ 200 </s></p>
      <p class="valo-produto">R$ 180</p>
    </div>
  </mat-card>


  <mat-card class="example-card">
    <img
      mat-card-image
      src="https://planetwear.com.br/cdn/shop/products/pic_20200401_113507-c6c64e0e14db70788f15857517322044-1024-1024_969d9940-2d6e-4868-ba5b-7d26e579c3da_600x.jpg?v=1603425602"
      alt="Photo of a Shiba Inu"
    />
    <div class="produto-info">
      <h6>Tenis AirForce</h6>
      <p class="descont">Em ate 3x de 60R$ sem juros</p>
      <p class="money"><s> R$ 200 </s></p>
      <p class="valo-produto">R$ 180</p>
    </div>
  </mat-card>



  <mat-card class="example-card">
    <img
      mat-card-image
      src="https://planetwear.com.br/cdn/shop/products/pic_20200401_113507-c6c64e0e14db70788f15857517322044-1024-1024_969d9940-2d6e-4868-ba5b-7d26e579c3da_600x.jpg?v=1603425602"
      alt="Photo of a Shiba Inu"
    />
    <div class="produto-info">
      <h6>Tenis AirForce</h6>
      <p class="descont">Em ate 3x de 60R$ sem juros</p>
      <p class="money"><s> R$ 200 </s></p>
      <p class="valo-produto">R$ 180</p>
    </div>
  </mat-card>

  


</div>
